node_modules
npm-debug.log
yarn-error.log

.env
.env.*.local
*.local

dist
.build

logs
*.log

Dockerfile
docker-compose.yml

__tests__
coverage
test
tests

.vscode
.idea
*.swp
*.*~

.DS_Store
Thumbs.db
